* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Merriweather', serif;
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 700;
}

.link-active {
  color: #222222 !important;
  font-weight: 700 !important;
}

header.desktop {
  width: 100%;
  height: 100px;
}

header.desktop nav {
  margin: 10px 0;
  width: 100%;
  height: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.desktop nav .branding {
  margin: 0 0 0 64px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

header.desktop nav .branding .brand-name {
  font-family: 'Great Vibes', cursive;
  margin: 0 0 0 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  float: right;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 3rem;
  color: #222222;
}

header.desktop nav ul {
  margin: 0 16px 0 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.desktop nav ul li {
  margin: 0 16px 0 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header.desktop nav ul li a {
  font-size: 1.2rem;
  color: #666666;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-weight: 400;
}

header.desktop nav ul li a i {
  color: #666666;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-weight: 400;
}

header.desktop nav ul li a:hover {
  color: #222222;
  font-weight: 500;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

header.desktop nav ul li a:hover i {
  color: #222222;
  font-weight: 500;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

section.main {
  padding: 20px 0;
  width: 100%;
}

section.main h1 {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
}

section.main h4 {
  font-size: 1.5rem;
  text-align: center;
  color: #666666;
}

section.main .list {
  margin: 20px auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

section.main .list ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.main .list ul li {
  margin: 0 16px 0 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section.main .list ul li a {
  color: #666666;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-weight: 400;
}

section.main .list ul li a:hover {
  color: #222222;
  font-weight: 700;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

section.main .list ul div {
  width: 2px;
  height: 20px;
  background: #222222;
}

section.modal {
  display: none;
  position: fixed;
  z-index: 999;
  background-color: rgba(34, 34, 34, 0.75);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

section.modal .cross {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  color: #EEEEEE;
  background: none;
  outline: none;
  border: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

section.modal .cross i {
  color: #EEEEEE;
}

section.modal .cross:hover {
  background-color: rgba(34, 34, 34, 0.25);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

section.modal .cross:hover i {
  color: #D9534F;
}

section.modal .cross:focus {
  background-color: rgba(34, 34, 34, 0.5);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

section.modal .cross:focus i {
  color: #D9534F;
}

section.modal .imgContainer {
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: calc(100% - 200px);
}

section.modal .imgContainer img {
  height: 100%;
}

section.modal .imgInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  margin: 0;
  text-align: center;
}

section.modal .imgInfo button {
  margin: 10px 0;
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  padding: 5px 10px;
  background-color: rgba(34, 34, 34, 0.1);
}

section.modal .imgInfo button a {
  color: #EEEEEE;
}

section.modal .imgInfo h3 {
  color: #EEEEEE;
  font-weight: 300;
}

main.grid {
  width: 100%;
}

main.grid .list {
  margin: 0 50px;
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.grid .list img {
  margin: 10px;
  width: 300px;
  cursor: pointer;
}

main.contact {
  width: 100%;
}

main.contact h1 {
  margin: 50px 0 0 0;
  font-weight: 400;
}

main.contact h3 {
  color: #666666;
  font-weight: 400;
  margin: 0 0 50px 0;
}

main.contact h3::after {
  content: "";
  display: block;
  margin: 10px auto 0 auto;
  width: 150px;
  height: 4px;
  background-color: #666666;
}

main.contact form {
  margin: 0 auto;
  width: 50%;
}

main.contact form .inputGroup {
  margin: 30px 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main.contact form .inputGroup .inputEntry, main.contact form .inputGroup .inputHeading {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 350px;
  height: 44px;
}

main.contact form .inputGroup .inputEntry h4, main.contact form .inputGroup .inputHeading h4 {
  text-align: left;
  margin: 10px 0 20px 0;
  font-weight: 400;
  font-size: 1.2rem;
}

main.contact form .inputGroup .inputEntry .inputField, main.contact form .inputGroup .inputHeading .inputField {
  margin: 0 auto;
  border: 2px solid rgba(102, 102, 102, 0.8);
  border-radius: 4px;
  padding: 0 16px;
  outline: none;
  width: calc(100% - 36px);
  height: calc(100% - 4px);
}

main.contact form .inputGroup .inputEntry .inputField:focus, main.contact form .inputGroup .inputHeading .inputField:focus {
  border: 2px solid #0275d8;
  border-radius: 4px;
}

main.contact form .inputGroup .inputEntry .inputField:valid, main.contact form .inputGroup .inputHeading .inputField:valid {
  border: 2px solid rgba(92, 184, 92, 0.8);
  border-radius: 4px;
}

main.contact form .inputGroup .inputEntry label, main.contact form .inputGroup .inputHeading label {
  position: absolute;
  top: 0;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FFFFFF;
  padding: 0 4px;
  pointer-events: none;
  font-size: 14px;
}

main.contact form .inputGroup .textEntry {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 350px;
  height: 180px;
}

main.contact form .inputGroup .textEntry textarea {
  border: 2px solid rgba(102, 102, 102, 0.8);
  border-radius: 4px;
  resize: none;
  padding: 16px;
  width: calc(100% - 36px);
  height: calc(100% - 36px);
}

main.contact form .inputGroup .textEntry label {
  position: absolute;
  top: 0;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FFFFFF;
  padding: 0 4px;
  pointer-events: none;
  font-size: 14px;
}

main.contact form .inputGroup .rangeshowContainer {
  position: relative;
}

main.contact form .inputGroup .rangeshowContainer .rangeShow {
  border: none;
  background: none;
  pointer-events: none;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 350px;
  width: 80%;
  height: 40px;
}

main.contact form .inputGroup .rangeshowContainer span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 60%;
}

main.contact form .inputGroup .contactBtn {
  cursor: pointer;
  padding: 8px 32px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1rem;
  outline: none;
  border: 2px solid rgba(2, 117, 216, 0.8);
  border-radius: 4px;
  background-color: #0275d8;
  color: #FFFFFF;
}

main.contact form .inputGroup .contactBtn:focus {
  -webkit-box-shadow: 0 0 10px rgba(2, 117, 216, 0.6);
          box-shadow: 0 0 10px rgba(2, 117, 216, 0.6);
}

main.contact form .inputGroup_check {
  margin: 30px 0;
}

main.contact form .inputGroup_check .inputHeading {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 350px;
  height: 44px;
}

main.contact form .inputGroup_check .inputHeading h4 {
  text-align: left;
  margin: 10px 0 20px 0;
  font-weight: 400;
  font-size: 1.2rem;
}

main.contact form .inputGroup_check .inputCheck_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.contact form .inputGroup_check .inputCheck_container .contactBtn_check {
  background-color: #FFFFFF;
  border: 2px solid rgba(102, 102, 102, 0.8);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  padding: 8px 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1rem;
  outline: none;
}

main.contact form .inputGroup_check .inputCheck_container .contactBtn_check:hover {
  border: 2px solid rgba(2, 117, 216, 0.8);
  border-radius: 4px;
  background-color: #0275d8;
  color: #FFFFFF;
}

main.contact form .inputGroup_check .inputCheck_container .contactBtn_check:focus {
  -webkit-box-shadow: 0 0 10px rgba(2, 117, 216, 0.6);
          box-shadow: 0 0 10px rgba(2, 117, 216, 0.6);
}

main.contact form .inputGroup_check .inputCheck_container .contactBtn_check.active {
  border: 2px solid rgba(2, 117, 216, 0.8);
  border-radius: 4px;
  background-color: #0275d8;
  color: #FFFFFF;
}

section.redirect {
  margin: 50px 0 0 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section.redirect h3 {
  margin: 10px 0;
  color: #666666;
  font-weight: 400;
}

section.redirect h4 {
  margin: 50px 0 0 0;
}

section.redirect img {
  width: 15%;
}

section.about {
  width: 100%;
}

section.about .aboutHeading {
  margin: 40px 0;
}

section.about .aboutHeading::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 4px;
  background-color: #666666;
}

section.about .container {
  margin: 0 auto;
  width: 50%;
}

section.about .container .text {
  padding: 10px;
  width: calc(50% - 20px);
  text-align: left !important;
  float: left;
}

section.about .container .text div.hi {
  width: 100%;
  color: #666666;
}

section.about .container .text h1 {
  margin: 10px 0 0 0;
  text-align: left;
  font-weight: 400;
}

section.about .container .text div.quote {
  margin: 20px 0;
}

section.about .container .text .personal, section.about .container .text .offer {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

section.about .container .text .personal {
  margin-bottom: 20px;
}

section.about .container .img {
  width: 50%;
  float: right;
}

section.about .container .img img {
  width: 100%;
}

@media (max-width: 1024px) {
  section.about .container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  section.about .container {
    width: 90%;
  }
}

@media (max-width: 540px) {
  header.desktop nav .branding {
    margin: 0 0 0 32px;
  }
  section.redirect img {
    margin: 50px 0 0 0;
    width: 40%;
  }
  section.about {
    width: 100%;
  }
  section.about .container {
    margin: 0 auto;
    width: 90%;
  }
  section.about .container .text {
    margin: 0 auto;
    float: none;
    padding: 0;
    width: 100%;
  }
  section.about .container .img {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    float: none;
  }
  section.modal .imgContainer img {
    width: auto;
    height: auto;
    max-width: 90%;
  }
  section.main h1 {
    font-size: 4rem;
  }
  header.desktop nav .branding .brand-name {
    font-size: 2rem;
  }
  main.contact form {
    width: 100%;
  }
}

@media (max-width: 320px) {
  header.desktop nav .branding {
    margin: 0 0 0 8px;
  }
  section.redirect img {
    margin: 50px 0 0 0;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */